################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IndianRetailSupply/obj
/IndianRetailSupply/.vs/IndianRetailSupply/v16/Server/sqlite3
